#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card-container {
    border: 1px solid teal;
    width: 100px;
    height: 100px;
    margin: 4px;
    border-radius: 10px;
}

body {
    display: flex;
}

.container {
    flex-wrap: wrap;
    display: flex;
}