#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card-container {
    border: 1px solid teal;
    width: 100px;
    height: 100px;
    margin: 4px;
    border-radius: 10px;
}

body {
    display: flex;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.container {
    flex-wrap: wrap;
    display: flex;
}